<!DOCTYPE html>

<head>
 <title>
 LOGIN FORM
 </title>

</head>


<body>
<center>

<div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% if is_registered %}
                    <script>alert("You are successfully registered with username:{{user_obj.Name}} and Email: {{user_obj.Email_ID }}")</script>
                    {% else %}
                    <form action="{% url 'blog:signup' %}" method="post">
                    {% csrf_token %}
                   {{ form }}
                    <input type="submit" value="Submit">
</form>
                {% endif %}
                </div>
            </div>
        </div>


</body>

</center>

