*,

*:before,

*:after {

   box-sizing: border-box;

}


form {

  border: 1px solid #c6c7cc;

  border-radius: 5px;

  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

  overflow: hidden;

  width: 240px;

}
