<html>

<head>
 <title>
 LOGIN FORM
 </title>
<link rel="stylesheet" type="text/css" href="css.css">
</head>

<form>
 Name: <input type="text" name="name"><br>
 Email ID:<input type="text" name="email"><br>
 Mobile Number:<input type="text" name="phno"><br>
 DOB:<input type="text" name="DOB"><br>
 Are you working?<br><input type="radio" name="yes/no" value="yes">Yes<br>
 <input type="radio" name="yes/no" value="no">No<br>
 Institution/Organisation name:<input type="text" name="organise"><br>
</form>
</html>                                                
