<!DOCTYPE html>

<head>
 <title>
 LOGIN FORM
 </title>
<link rel="stylesheet" type="text/css" href="css.css">
</head>


<body>

<center>

<form>
<fieldset class="account-info">
 <label style="text-align: left">
 Name: <input type="text" name="name"><br>
 </label>
 
  <label style="text-align: left">
 Email ID:<input type="text" name="email"><br>
 </label>

 <label style="text-align: left">
 Mobile Number:<input type="text" name="phno"><br>
 </label>

 <label style="text-align: left">
 DOB:<input type="text" name="DOB"><br>
 </label>

  <label style="text-align: left">
 Are you working?<br><input type="radio" name="yes/no" value="yes">Yes<br>
 <input type="radio" name="yes/no" value="no">No<br>
 </label>

  <label style="text-align: left">
 Institution/Organisation name:<input type="text" name="organise"><br>
 </label>
</fieldset>

<fieldset class="account-action">
    <input class="btn" type="submit" name="submit" value="submit">
  </fieldset>

</form>

</body> 

</center>                                               
